body { 
    height: 100%;  
    padding:0px; 
    margin: 0px; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    border: 1px solid chartreuse;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
