<div class="side-menu">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
                <img src="assets/profile.png" alt="Profile"  class="center" /><br/>
                Long User Name
        </div>
        <ul class="nav navbar-nav left-menu">
            <li><a class="smallIcon" routerLink="/upload-employees">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
                </svg>
                Upload
            </a></li>
            <li routerLinkActive="active">
                <a class="smallIcon" routerLink="/employee-dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>
                </svg>
                Employee Dashboard
            </a></li>
            <li><a href="#">
                <img src="assets/funIcon.png"  class="smallIcon" />Function 3
            </a></li>
            <li><a href="#">
                <img src="assets/funIcon.png"  class="smallIcon" />Function 4
            </a></li>
            <li><a href="#">
                <img src="assets/funIcon.png"  class="smallIcon" />Function 5
            </a></li>
        </ul>
    </nav>
</div>